@model IEnumerable<ChannelEngine_Domain.Model.Line>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["Message"] != null)
{
    <h4 class="alert-dark">@TempData["Message"] </h4>
}
<br/>
<br/>
<h4>Products</h4>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MerchantProductNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gtin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MerchantProductNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gtin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => item.StockLocation.Id)
                            <button class="btn-outline-success" asp-action="UpdateStock" asp-route-no="@item.MerchantProductNo" asp-route-id="@item.StockLocation.Id">Update Stock</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>